{% extends 'project_prj/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
<header>
    <h3><i class="fa-solid fa-book" style="color: #d896d2;"></i>О компании</h3>
  </header>
<div class="text">
    <h1>Парфюмерия и средства гигиены</h1>
    <p>Продукция, используемуая для ухода за
        телом и поддержания приятного аромата. Парфюмерия включает в себя ароматические продукты,
        такие как духи, туалетная вода, дезодоранты и т. д. Средства гигиены включают
        продукты для ухода за кожей, волосами, зубами, масла для тела, кремы и другие
        товары, предназначенные для поддержания чистоты и здоровья.</p> <br>

    <p>Компания "Парфюмерия и средства гигиены" предлагает
        широкий ассортимент товаров для ухода за собой и создания <br>
        неповторимого образа. Наша компания заботится о красоте и здоровье
        наших клиентов, предлагая только качественные продукты от ведущих производителей.<br /></p>

    <p>В ассортименте нашей компании вы найдете широкий выбор
        парфюмерии, дезодорантов, средств для ухода за кожей и волосами, а также
        продукты для бережного ухода за телом. <br> Мы стремимся предложить
        нашим клиентам только самые передовые и инновационные продукты,
        которые помогут им чувствовать себя уверенно и привлекательно каждый день</p>

    {% endblock %}